#!/usr/bin/env bash

# Check if workspace setup exists.
if [ -s "${HOME}/workspace/install/setup.bash" ]; then
    . "${HOME}/workspace/install/setup.bash"
elif [ -s "/opt/ros/{{ ros_distro }}/setup.bash" ]; then
    . "/opt/ros/{{ ros_distro }}/setup.bash"
else
    echo "No ROS installation found"
    exit 1
fi

[ -s /usr/share/gazebo/setup.sh ] && . /usr/share/gazebo/setup.sh
[ -s /usr/share/colcon_argcomplete/hook/colcon-argcomplete.bash ] && . /usr/share/colcon_argcomplete/hook/colcon-argcomplete.bash
[ -s /usr/share/colcon_cd/function/colcon_cd.sh ] && . /usr/share/colcon_cd/function/colcon_cd.sh

export PATH="$(deduplicate_path.sh "${HOME}/.local/bin:${PATH}")"
export CMAKE_PREFIX_PATH="$(deduplicate_path.sh "${CMAKE_PREFIX_PATH}")"
export LD_LIBRARY_PATH="$(deduplicate_path.sh "${LD_LIBRARY_PATH}")"
export PKG_CONFIG_PATH="$(deduplicate_path.sh "${PKG_CONFIG_PATH}")"
export PYTHONPATH="$(deduplicate_path.sh "${PYTHONPATH}")"
export AMENT_PREFIX_PATH="$(deduplicate_path.sh "${AMENT_PREFIX_PATH}")"
export AMENT_CURRENT_PREFIX="$(deduplicate_path.sh "${AMENT_CURRENT_PREFIX}")"
export COLCON_PREFIX_PATH="$(deduplicate_path.sh "${COLCON_PREFIX_PATH}")"
