#!/usr/bin/env bash

# Check if workspace setup exists.
if [ -s "${HOME}/workspace/install/setup.bash" ]; then
    . "${HOME}/workspace/install/setup.bash"
elif [ -s "${HOME}/workspace/devel/setup.bash" ]; then
    . "${HOME}/workspace/devel/setup.bash"
elif [ -s "/opt/ros/{{ ros_distro }}/setup.bash" ]; then
    . "/opt/ros/{{ ros_distro }}/setup.bash"
else
    echo "No ROS workspace found"
    exit 1
fi

[ -s /usr/share/gazebo/setup.sh ] && . /usr/share/gazebo/setup.sh

export PATH="$(deduplicate_path.sh "${HOME}/.local/bin:${PATH}")"
export CMAKE_PREFIX_PATH="$(deduplicate_path.sh "${CMAKE_PREFIX_PATH}")"
export LD_LIBRARY_PATH="$(deduplicate_path.sh "${LD_LIBRARY_PATH}")"
export PKG_CONFIG_PATH="$(deduplicate_path.sh "${PKG_CONFIG_PATH}")"
export PYTHONPATH="$(deduplicate_path.sh "${PYTHONPATH}")"
export ROS_PACKAGE_PATH="$(deduplicate_path.sh "${ROS_PACKAGE_PATH}")"
